{
    "apstra": {
        "host": "10.85.192.45",
        "port": "443",
        "username": "admin",
        "password": "zaq1@WSXcde3$RFV",
        "logging_level": "DEBUG"   
    },
    "target": {
        "main_bp": "terra",
        "tor_bp": "test",
        "tor_im_new": "test",
        "cabling_maps_yaml_file": "tests/fixtures/sample-cabling-maps.yaml" 
    }
}