<!DOCTYPE html>
<html lang="en">

<head>
    <title>Apstra Web Tool</title>

    <link rel="icon" href="/images/powered-on.svg" />

    <link href="/css/style.css" rel="stylesheet" />

    <!-- <script src="/js/dexie.js"></script> -->
    <script src="/js/main.js"></script>
    <script src="/js/htmx.min.js"></script>
</head>

<body>

    <aside class="sidebar">

        <h3>Commands</h3>

        <hr />

        <form method="get" action="/pull-config">
            <button id="pull-config" class="data-state" type="submit" data-state="init" disabled><img src="/images/download.svg" /> Pull Devices Config</button>
        </form>

        <hr />

        <form method="get" action="/pull-bp-json" class="tooltip">
            <button id="pull-bp-json" class="data-state" data-state="init" disabled download><img src="/images/download.svg" /> Download BP in JSON</button>
            <span class="tooltiptext">Download the blueprint in json file.</span>
        </form>

        <hr />

        <form id="bp-post" hx-encoding="multipart/form-data" hx-post="/push-bp-json" hx-target="#last-message" class="tooltip">
            <input id="bp-post-file" type="file" name="file" style="display: none;">
            <button id="push-bp-json" class="data-state" type="submit" data-state="init" disabled>
                <img src="/images/upload.svg" onclick="document.getElementById('bp-post-file').click()"/> Create BP from JSON</button>
            <span class="tooltiptext">Create blueprint from the json file. The blueprint name comes from the file name.</span>
        </form>

        <!-- <div id="load-env-div" class="btn data-state" data-state="init" onclick="document.getElementById('upload-env-ini-input').click()">
            <img id="upload-env-ini-img" src="/images/upload.svg" alt="Upload ini"/>
            <input type="file" id="upload-env-ini-input" name="file"  hx-encoding="multipart/form-data" 
                hx-post="/upload-env-json" hx-target="#last-message" hx-trigger="change" style="display: none;">
            Load
        </div> -->



        <hr />

        <div>
            <label>Last Message</label>
            <textarea id="last-message" readonly></textarea>
        </div>
        
    </aside>

    <div class="container">

        <section id="event-box" class="event-box">
            <pre id="event-box-text"></pre>
        </section>

        <div id="apstra-server" class="apstra-server">
            <div id="server-actions" class="server-actions">
                <div id="load-env-div" class="btn data-state" data-state="init" onclick="document.getElementById('upload-env-ini-input').click()">
                    <img id="upload-env-ini-img" src="/images/upload.svg" alt="Upload ini"/>
                    <input type="file" id="upload-env-ini-input" name="file"  hx-encoding="multipart/form-data" 
                        hx-post="/upload-env-json" hx-trigger="change" style="display: none;">
                    Load
                </div>
                <!-- type button, onclick fetch -->
                <div class="tooltip">
                    <button id="login" class="btn data-state" data-state="init" type="button" onclick="fetch('/login')" disabled><img src="/images/login.svg" /> Login</button>
                    <span class="tooltiptext">Login to ther server.</span>
                </div>
                <div>
                    <button id="logout" class="btn data-state" data-state="init" disabled><img src="/images/logout.svg" alt="logout"
                         hx-get="/logout" hx-target="#last-message"> Logout</button>
                </div>
                <form method="get" action="/get-env-example" class="tooltip">
                    <button class="static" download><img src="/images/download.svg" /> Sample</button>
                    <span class="tooltiptext">Download the sample environment json file.</span>
                </form>
                
            </div>
            <div class="filler"></div>
            <div id="apstra-server-table" class="server-table">
                <table>
                    <caption>Apsta Server</caption>
                    <tr>
                        <th>Version</th>
                        <th>Host</th>
                        <th>Port</th>
                        <th>User</th>
                        <th>Password</th>
                    </tr>
                    <tr>
                        <td id="apstra-version"></td>
                        <td><input id="apstra-host" type="text" name="host"/></td>
                        <td><input id="apstra-port" type="text" name="port" /></td>
                        <td><input id="apstra-username" type="text" name="username" /></td>
                        <td><input id="apstra-password" type="password" name="password" /></td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="main_bp_div" class="main-blueprint data-state" data-id data-state="init">
            Blueprint
            <select id="main_bp_select" name="main-bp" class="main-blueprin" 
                hx-get="/login-main-bp" hx-target="#last-message">
                <optgroup>
                    <option value="">--select blueprint--</option>
                </optgroup>
            </select>
        </div>

        <footer class="footer">
            ©️ Charlie Kim
        </footer>

    </div>
</body>

</html>
